* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-red-color: #c06262;
}

.main-red-color {
  color: var(--main-red-color);
}

html {
  font-size: 10px;
}

body {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  height: 100vh;
  background: #2d2d2d;
}

.container {
  height: 600px;
  width: 600px;
  background-color: #f2eecb;
  border-radius: 4px;
  padding: 32px;
}

.frame {
  border: 1px solid #484848;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: flex-start;
}

.header-title {
  text-align: center;
  flex: 1;
  font-size: 3.6rem;
  text-transform: lowercase;
  padding: 20px 0;
}

.header-btn {
  font-size: 1.8rem;
  padding: 24px;
  background: unset;
  border: unset;
  outline: unset;
}
